#main{background-color: rgb(167, 189, 244);color: rgb(65, 63, 66);border: 2px solid black; border-radius: 20px; width: 40%; text-align: center; margin: auto;}
#table  {margin: auto;}
#result{text-align: left; padding: 20px}
